/* header */
header{
    background-color: white;
    height: 100px;
    line-height: 50px;
    padding: 0px;
    margin-bottom: 0px;
}
.logo{
    width: auto;
    vertical-align: middle;
    margin-left:30px;
    background-color: inherit;
}
h1{
    display: inline-block;
    background-color: inherit;
    vertical-align: middle;
    font-size: 40px;
}
/* Main opacity */
.box{
    background-color:#f6f8f9;
    border: 0.1px solid #f6f8f9;
    width: 1000px;
    height: 1000px;
    margin-left: 30px;
}

/* label and buttons*/
.label{
    background-color: white;
    width: 70%;   
    padding: 25px 0;
    margin: auto;
    margin-top: 50px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-size: 12px;
}

.label-button1{
    display: inline-block;
    border: 1px solid cornflowerblue;
    background-color: cornflowerblue;
    color: white;
    border-radius: 5px;
    margin-left: 40px;
    padding: 5px;
}

.label-button2{
    display: inline-block;
    border: 1px solid grey;
    color: grey;
    border-radius: 5px;
    padding: 5px;
    margin-left: 10px;
}

/* white background main screen */
.screen{
    width: 70%;
    height: 600px;
    background-color: white;
    margin: auto;
    margin-top: 2px;
}

/* Coordinates of text */
.prima-voce{
    margin-top: 2px;
    }

h3::before{
    content: ' \25BC';
    font-size: 15px;
    padding: 5px;
    margin-left: 5px;
}
h3{
    font-size: 25px;
    padding: 30px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

p{
    margin-left: 40px;
}

/* symbols */
.check::before{
    content: '\2713';
    padding: 5px;
    border-radius: 50%;
    border:1px solid green;
    color: green;
    font-size: 8px;
    margin-right: 10px;
}
.cross::before{
    content: ' \2715';
    padding: 5px;
    border-radius: 50%;
    border:1px solid red;
    color: red;
    font-size: 8px;
    margin-right: 10px;

}

/* right side span buttons */
.button{
    padding: 5px;
    font-size: 10px;
    color: white;
    font-weight: bolder;
    border-radius: 10px;
}

/* right side span buttons colors */
.blue{
    background-color: cornflowerblue;
}
.violet{
    background-color: violet;
}
.green{
    background-color: green;
}
.orange{
    background-color: orange;
}
.pink{
    background-color: pink;
}
.yellow{
    background-color: rgb(177, 177, 38);
}